<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align:center">
      List Gambar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row *ngFor="let iFoto of dataImage; let i = index">
      <ion-col size="1">
        {{i+1}}. 
      </ion-col>
      <ion-col size="2">
        <ion-img [src]="iFoto.url"></ion-img>
      </ion-col>
      <ion-col>
        <ion-label>{{iFoto.nama}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
