<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align:center">
      About Me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col size="2">Nama</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="3">Alfonsus Enrico</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2">NRP</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="3">C14180067</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2">Email</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="9">c14180067@john.petra.ac.id / enrico.soebijanto@gmail.com</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2">No. Hp</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="3">089680219972</ion-col>
      </ion-row>
    </ion-grid>
  </div> -->

  <ion-card>
    <ion-card-header>
      <div style="text-align:center;">
        <img src="https://lh3.google.com/u/3/ogw/ADGmqu9TSkrZVzZiz9csFxV8PbywbU96nYV74dCuMHMx=s83-c-mo">
      </div>
      <ion-card-title style="text-align:center">Alfonsus Enrico - C14180067</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>c14180067@john.petra.ac.id</ion-label><br/>
      <ion-label>089680219972</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
