<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align:center">
      About Me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-div class="container">
    <ion-grid>
      <ion-row>
        <ion-col size="2">Nama</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="3">Alfonsus Enrico</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2">NRP</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="3">C14180067</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2">Email</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="9">c14180067@john.petra.ac.id / enrico.soebijanto@gmail.com</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2">No. Hp</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="3">089680219972</ion-col>
      </ion-row>
    </ion-grid>
  </ion-div>
</ion-content>
