<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align:center">
      Camera
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let foto of fotoService.dataFoto; index as position">
        <ion-img [src]="foto.webviewPath" (click)="select(foto)"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <div style="text-align:center;">
    <ion-button shape="round" (click)="tambahFoto()" style="text-align:center">
      <ion-icon name="aperture-outline"></ion-icon>
    </ion-button>
  </div>
  <div style="text-align:center;">
    <ion-button color="primary" (click)="uploadFoto()">UPLOAD</ion-button>
  </div>
</ion-footer>
